{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false
}
