<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

	<targets async ="true">

		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

		<!--File-->
		<target
		  name="file"
		  type="File"
		  fileName="${basedir}/logs/${date:universalTime=true:format=yyyyMMddHH}.log">
			<layout xsi:type="JsonLayout">
				<attribute name="env" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="project" layout="ProjectManagerWebApi" />
				<attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffK}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="caller" layout="${callsite} ${callsite-linenumber}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>

	</targets>

	<rules>

		<logger name="*" minlevel ="Error" writeTo="file" />

	</rules>
</nlog>
